apiVersion: 1

datasources:
  - name: InfluxDB
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    jsonData:
      version: Flux
      organization: gesture_org
      defaultBucket: gesture_detections
    secureJsonData:
      token: my-super-secret-token
    isDefault: true